<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="imageFileName" value="Cam1.png" />
        <add key="identifierString" value="Cam1" />
        <add key="FTPServerUrl" value="ftpserverurl"/>
        <add key="FTPUsername" value="ftpusername"/>
        <add key="FTPPassword" value="ftppassword"/>
        <add key="FTPPort" value="25"/>
        <add key="FTPUploadDir" value="/path/to/upload/directory/"/>
    </appSettings>
</configuration>